body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(241, 241, 241);
}
.wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
}
h1{
    text-transform: capitalize;
}
